/* RESET CƠ BẢN */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  line-height: 1.6;
}

/* HEADER */
#home {
  background: #333;
  color: white;
  padding: 30px;
  text-align: center;
}

.subtitle {
  font-style: italic;
  color: #ccc;
}

/* SECTION */
.box {
  background: white;
  margin: 20px;
  padding: 20px;
  border: 3px solid #ccc;
}

/* INLINE DEMO */
.inline-demo {
  display: inline-block;
  background: yellow;
  padding: 5px;
  margin: 3px;
}

/* BOX MODEL */
.card {
  width: 300px;
  padding: 15px;
  margin: 20px 0;
  border: 4px ridge blue;
  background: #eef;
}

/* CLASS SELECTOR */
.test {
  color: blue;
  font-weight: bold;
}

.warning {
  color: red;
}

/* ATTRIBUTE SELECTOR */
a[target="_blank"] {
  color: green;
  font-weight: bold;
}

/* HIDDEN */
.hidden {
  visibility: hidden; /*no*/
}

.none {
  display: none;
}

/* TABLE */
table {
  width: 100%;
  border: 4px solid magenta;
  border-collapse: collapse;
}

th, td {
  border: 1px solid blue;
  padding: 8px;
  text-align: center;
}

th {
  background: yellow;
}

caption {
  caption-side: top;
  color: red;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

/* FOOTER */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px;
}
